/* applys basic selectors to the entire stylesheet */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: transparent;
}

/* Selectors for the header, including my name and different IDs to affect different words */
.header {
    padding: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    text-align: center;
    background: transparent;
}

#jordan {
    text-decoration: underline;
    background: transparent;
}

#jordan:active {
    text-decoration: none;
}

#george {
    font-size: 30px;
    background: transparent;
}

/* Used for the background picture */
body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    justify-content: center;
}

/* all selectors for the animated cards on the page */

#lyric {
    width: 700px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185)),
        url(./images/lyricbackkground.jfif);
}

#nictactoe {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185)),
        url(./images/nick-cage-face.jpg);
}

#about {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185)),
        url(./images/myAvatar.png);
}

#pass-gen {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185)),
        url(./images/passwordgen);
}

.projects {
    background-color: black;
    color: white
}

.about {
    background-color: black;
}

.card {
    border-radius: 25px;
    border: 2px solid black;
    background-color: #000000;
    padding: 20px;
    width: 500px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-flex;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185)),
        url(./images/website-header.png);
    background-position-x: center;
    background-position-y: bottom;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: 10px 5px 15px;
}

.card h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}

.card a {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}

.card:hover {
    width: 520px;
    height: 320px;
    opacity: 1;
}

/* affects the appearance when the anchor element is in use */
a:active {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

/* Selectors for the about me section at the bottom of the page, separated by each html element */
.about-me {
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    box-shadow: inset 0px 0px 5px 5px;
}

.about-me h2 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    text-decoration: underline;
}

.about-me p {
    font-size: 30px;
    line-height: 40px;
}

/* Selectors for the cards inside the about me section, linking to github and linkedin */
.card-about {
    border-radius: 25px;
    border: 2px solid black;
    background-color: #000000;
    padding: 20px;
    width: 300px;
    height: 100px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-flex;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185)),
        url(./images/website-header.png);
    background-position-x: center;
    background-position-y: bottom;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: 10px 5px 15px;
    flex-wrap: nowrap;
}

.card-about h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}

.card-about a {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}

.card-about:hover {
    width: 320px;
    height: 120px;
    opacity: 1;
}

/* Affects the footer for the page, finishing off the website! */
.footer {
    padding: 30px;
    text-align: center;
    background: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
}

.footer h2 {
    background: transparent;
    font-size: 40px;
}

.footer p {
    background: transparent;
    font-size: 20px;
}

div ul li {
    color: #000000;
}

/* Selector used for resizing for mobile devices, or smaller browsers */
@media screen and (max-width: 768px) {

    .header,
    .card,
    .card-about,
    .about-me,
    nav {
        flex-direction: column;
        float: left;
    }
}